<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" cacheDirectory=".phpunit.cache" colors="true" failOnRisky="true" failOnWarning="true" failOnSkipped="true">
    <testsuites>
        <testsuite name="Native provider recording">
            <directory>tests/Recording</directory>
        </testsuite>
    </testsuites>
</phpunit>
